/**  
 * regul_map.css
 * @package Sagec
 * @author JCB
 * @copyright 2009
 */

/**
* le code qui suit est indispensable pour microsoft
* car incompatibilité IE6 et position: absolute
*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family:arial;
	font-size: 0.8em;
}

#mouseTrack{
	position: absolute;
	bottom: 25px;
	right: 7px;
	width: 188px;
	padding: 5px;
	background: white;
	border: 1px solid black;
	font-family: Verdana,Univers,Helvetica,Arial,Sans-serif;
	font-size: 0.8em;
	/*display: none;*/
}